.btn-custom-yellow {
    background-color: #F8E800 !important;
    color: white;
    border: none;
    padding: 10px 20px !important;
    color: #009CDE !important;
}

.background-contact-form {
	background-image: url('/assets/images/network.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen */
	background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
	background-position: center; /* Centra la imagen */
	color: white; /* Color del texto para asegurar la legibilidad sobre la imagen */
	padding: 100px; /* Añade un relleno para separar el contenido del borde de la sección */
  }

.home {
  height: 100vh;
}

.alert-custom {
  background: #009CDE;
  color: #fff;
}

.alert-custom > span {
  margin: auto;
}

.star {
  font-size: 3em; /* Puedes ajustar el tamaño de las estrellas según tus necesidades */
  color: #ffc107; /* Color de las estrellas (amarillo en este caso) */
}


.btn-custom-blue {
    background-color: #009CDE !important;
    color: white;
    border: none;
    padding: 30px 50px !important;
    color: #fff !important;
    width: 50%;
}

.bg-elite-blue {
  background-color: #009CDE;
}

.bg-elite-yellow {
  background-color: #F8E800;
}

.text-elite-yellow {
  color: #F8E800;
}

.extra-large-text {
  font-size: 2em; 
  font-weight: bold;
}
  
#text {
  display: inline-block;
  border-right: 2px solid #333;
  padding-right: 8px;
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite alternate;
}

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}





  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #333;
    }
  }
  
  .hidden {
    display: none;
  }
  
  .text-shrink {
    animation: shrink 1s ease-out;
  }
  
  @keyframes shrink {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  


